#color1{
    background-color:#2d303a;
}
#color2{
    background-color: #f06c64;
    
}
.form-control{
    background-color: #d6564f;
    border: none;
}
.portafolio {
    color:#a1a5b5;
}
.services {
    color:#a1a5b5;
}
.nav{
    color:#a1a5b5;
}
.navbar{
    color:#a1a5b5;
}
.nav-link{
    color:#a1a5b5;
}
.aboutUs{
    color:#a1a5b5;
}
.footer{
    color:#a1a5b5;
}
.getAQuoute{
    color:#efbdbc;
}